.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.title {
    padding-top: 1%;
    padding-bottom: 0%;
    width: 100%;
    text-align: center;
}

.full-width {
    width: 100%;
}

.custom-padding {
    padding: 10px;
}

.full-height {
    height: 95%;
}

.margin-10 {
    margin-right: 10px;
}

.center {
    text-align: center;
}

::ng-deep .details .mat-grid-tile-content {
    display: block;
}

table {
    width: 100%;
    padding: 0% 3%;
}

td {
    padding: 10px;
}

.fit {
    white-space: nowrap;
}