<h1 class="title"> Welcome to create an Event! </h1>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-stepper [linear]="isLinear" #stepper>
    <!-- orientation="vertical" -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Event Details</ng-template>
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="full-width custom-padding">
                        <mat-label>Event Title</mat-label>
                        <input matInput placeholder="Enter Event Title" formControlName="title" required>
                        <!-- <mat-hint></mat-hint> -->
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="full-width custom-padding">
                        <mat-label>Enter your event date</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate formControlName="startDate" placeholder="Start date">
                            <input matEndDate formControlName="endDate" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="2">
                    <mat-form-field appearance="outline" class="full-width custom-padding full-height">
                        <mat-label>Description</mat-label>
                        <textarea matInput matInput placeholder="Enter description about your event"
                            formControlName="description"></textarea>
                        <mat-hint>Please describe about your event</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <button mat-raised-button matStepperNext>Next</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Venue">
        <form [formGroup]="secondFormGroup">
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="full-width custom-padding">
                        <mat-label>Latitude</mat-label>
                        <input matInput formControlName="latitude" placeholder="Enter Latitude" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="full-width custom-padding">
                        <mat-label>Longitude</mat-label>
                        <input matInput formControlName="longitude" placeholder="Enter Longitude" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline" class="full-width custom-padding">
                        <mat-label>Seat Limit</mat-label>
                        <input matInput formControlName="seatLimit" placeholder="Enter Seats" required>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <button mat-raised-button matStepperPrevious class="margin-10">Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Photos">
        <form [formGroup]="thirdFormGroup">
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                    <mat-grid-tile>
                        <input #fileInput hidden="true" type="file" formControlName="profile" />
                        <button mat-flat-button fxLayout="row" fxLayoutAlign="start" color="primary"
                            (click)="fileInput.click()">Upload
                            Photo</button>
                    </mat-grid-tile>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <button mat-raised-button matStepperPrevious class="margin-10">Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Final Step!</ng-template>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile colspan="2">
                <div class="center">
                    <h2>Congratulations! You reached the final step to create an event.</h2>
                    <h6>Let's double check the information</h6>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2">
            <mat-grid-tile class="details" colspan="2">
                <table class="table">
                    <tr>
                        <td>Event Title:</td>
                        <td><span>{{firstFormGroup.value.title}}</span></td>
                    </tr>
                    <tr>
                        <td>Event Start Date :</td>
                        <td>{{firstFormGroup.value.startDate}}</td>
                    </tr>
                    <tr>
                        <td>Event End Date:</td>
                        <td>{{firstFormGroup.value.endDate}}</td>
                    </tr>
                    <tr>
                        <td class="fit">Event Description:</td>
                        <td>{{firstFormGroup.value.description}}</td>
                    </tr>
                    <tr>
                        <td>Event Location:</td>
                        <td>{{secondFormGroup.value.latitude}},{{secondFormGroup.value.longitude}} </td>
                    </tr>
                    <tr>
                        <td>Seat Limit:</td>
                        <td>{{secondFormGroup.value.seatLimit}}</td>
                    </tr>
                    <tr>
                        <td>Event Photos:</td>
                        <td>{{thirdFormGroup.value.photo}}</td>
                    </tr>
                </table>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile colspan="2">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Start Over</button>
                <button mat-raised-button color="primary" (click)="onSubmit()">Create Event</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-step>
</mat-stepper>