.my-card {
  max-width: 600px;
  margin: 16px auto;
}

.image {
  max-width: 100%
}

button {
  margin-right: 10px;
}

.action-button {
  width:  150px;
  z-index: 0;
}

.spacer {
  height: 10px;
}

.username-link {
  padding: 0;
  margin-top: -3px;
}